/* ucsf-default-basic
 *
 *
 *
 */
#header {
    background: #666666  url(img/ucsf-header-bg.png) repeat-x; 
    height: 36px;
    border-bottom: 0px solid #ffffff;
} 

body {
    background-color: #88bbbb;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    line-height: normal;
}

body.front-page h1#header {
	background: #666666  url(img/ucsf-header-bg.png) repeat-x; 
	height: 36px;
	text-align: left;
	border-bottom: 0px solid #ffffff;
}

body.front-page h1#header span {
        display: inline;
        padding: 0;
}

body h1#header span {
	float: none;
	margin-left: 4px;
}

body h1#header span {
	position:relative;
	bottom: 12px;
}

h1#header {
	padding-left: 10px;
}

h1#header span {
	font-size: 15px;
	font-family: "Arial Regular", Arial, Helvetica, Verdana, sans-serif;
	padding: 0;
}

h1#header img {
	float:none;
}

h1#header img.separator {
	padding: 0 8px 0 5px;
}

h4.light {
	color: #555;
}

span.highlight_time {
	font-weight: bold;
}

span.smallprint.light {
	color: #999999;
}

ul {
    margin:.5em 0 1em 0;
}

ul.ucsf-directory {
    margin:0; padding:0
}

ul li {
	font-weight: normal;
	list-style-type: none;
}

ul.ucsf-directory li {
    padding:1em;
    margin:0;
    border: 1px #DDD;
    border-style: solid none none none;
}

ul.ucsf-directory li:first-child {
    border-style: none none none none;
}

ul.bulleted li {
	list-style-type: disc;
        margin-left: 2em;
}

ul.bulleted li a {
	padding: 0em;
	display: inline;
}

.form-full select {
	padding: 0.3em;
}

a[rel~=external] {
    display: inline-block;
}


a[rel~=external], .menu-detailed li a span.external {
	padding-right: 18px;
        margin-right: 14px;
        background: url(img/ucsf-external-link.png) center right no-repeat;
}

/* Allow suppression of external link indicator via class "no-ext-ind". 
   This is useful for .menu-detailed where a span.external inside an 
   a[rel=external] can show where the indicator should end up.  This keeps the
   indicator from floating off to the right away from the relevant text. This is
   desirable, rather than just not using rel=external, because rel=external 
   will determine how the link is handled in the native client and possibly in
   screen readers.
*/
a[rel=external].no-ext-ind {
    background: #fff;
}

li a, p a, a, a:visited {
	color:#38939b;
}

.content-full img {
	max-width: 100%; 
	height: auto; 
}

.content-elements > h1, .content-full > h1,
.content-elements > h4, .content-full > h4 {
    padding: .4em;
    text-align: center;
}

.menu-full li {
    background:url(img/ucsf-list-arrow.png) no-repeat 98%;
    background-color: #fff;
}
