
body,html {
    margin:0;
    padding:0;
    height:100%;
    overflow:auto;
}

body {
    font:100%/1.25 Arial,Helvetica,sans-serif;
    font-size:.93em;
    background: rgb(141,201,207); /* Old browsers */
    font-family:Helvetica,Verdana,Arial,sans-serif;
    line-height:normal;
}

body{ 
    width:100%;
    position:relative;
    background-image: url(img/ucsf-watermark.png), url(img/ucsf-background-decor.png), -moz-radial-gradient(center, ellipse cover, rgba(141,201,207,1) 0%, rgba(98,172,180,1) 100%); /* FF3.6+ */
    background-image: url(img/ucsf-watermark.png), url(img/ucsf-background-decor.png), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(141,201,207,1)), color-stop(100%,rgba(98,172,180,1))); /* Chrome,Safari4+ */
    background-image: url(img/ucsf-watermark.png), url(img/ucsf-background-decor.png), -webkit-radial-gradient(center, ellipse cover, rgba(141,201,207,1) 0%,rgba(98,172,180,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: url(img/ucsf-watermark.png), url(img/ucsf-background-decor.png), -o-radial-gradient(center, ellipse cover, rgba(141,201,207,1) 0%,rgba(98,172,180,1) 100%); /* Opera 12+ */
    background-image: url(img/ucsf-watermark.png), url(img/ucsf-background-decor.png), -ms-radial-gradient(center, ellipse cover, rgba(141,201,207,1) 0%,rgba(98,172,180,1) 100%); /* IE10+ */
    background-image: url(img/ucsf-watermark.png), url(img/ucsf-background-decor.png), radial-gradient(center, ellipse cover, rgba(141,201,207,1) 0%,rgba(98,172,180,1) 100%); /* W3C */
    background-repeat:no-repeat, no-repeat, no-repeat;
    background-position:left top, right bottom, left top;
    background-size:auto 100%, 100% 70%, 100% 100%;
}

body.front #header{
    display:none;	
}

div#main_menu {
    margin:0
}

#footer {
    font-size:.80em;
    text-align:center;
    position:relative;
    width:auto;
    margin:25px 0 15px;
    overflow:visible;
    height:28px;
    display:block;
}


#footer,#footer a,#footer a:visited,#footer a:hover {
    color:#fff;
}

#footer a,#footer a:visited {

    text-decoration:none;
    border-bottom:1px solid #fff;
}




/********************************************************
 * BUTTONS
 * 
 * Lightning Touch JS library will erroneously track hovers so
 * let's just turn them off
 *******************************************************/
.menu li:hover {
    background-color: #fff;
}
/**
* This is needed to keep the rounded corners on the last child.
* No, I don't really understand why.
**/
.menu li a {
    background-color: initial;
}


/********************************************************
 * BUTTONS
 *******************************************************/
a.button,
div.button a {
    background: -webkit-gradient(linear, left top, left bottom, from(#424243), to(#565759), color-stop(1, #fff));
    -webkit-background-origin: padding-box;
    -webkit-background-clip: padding-box;
}

a#button-top {
    background: -webkit-gradient(linear, left top, left bottom, from(#767676), to(#6e6e6e), color-stop(1, #fff));
    -webkit-background-origin: padding-box;
    -webkit-background-clip: padding-box;
}

a#button-top:hover,
a#button-top:active,
a#button-top:focus{
    background: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#666666), color-stop(1, #fff));
}

.mwf_notmobile a.button:hover,
a.button:focus,
a.button:active,
.mwf_notmobile div.button a:hover,
div.button a:focus,
div.button a:active,
.mwf_notmobile a.button.button-light:hover,
a.button.button-light:focus,
a.button.button-light:active,
.mwf_notmobile div.button a.button-light:hover,
div.button a.button-light:focus,
div.button a.button-light:active{
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff), color-stop(1, #fff));
    -webkit-background-origin: padding-box;
    -webkit-background-clip: padding-box;
}

/********************************************************
 * HOME SCREEN
 *******************************************************/
@media screen and (max-width:639px) {
    .menu.front ol {
        width:560px
    }
}
@media screen and (max-width:559px) {
    .menu.front ol {
        width:480px
    }
}
@media screen and (max-width:479px) {
    .menu.front ol {
        width:400px
    }
}
@media screen and (max-width:399px) {
    .menu.front ol {
        width:320px
    }
}
/********************************************************   
 * TWO-COLUMN LIST STYLE
 *******************************************************/
ul.two-col-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.two-col-list li {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    overflow: hidden;
}

/*********************************************************
 * Sortable Options (used for Customize Home Screen)
 ********************************************************/
div#app_order.option.ui-sortable > label {
    background-color: #8BB;
}

/********************************************************
 * LIBRARY FLOORPLAN LEGEND STYLES
 *******************************************************/
.ucsf-library-floorplan-legend {
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 25px;
}
.ucsf-library-floorplan-legend-computer {
    background-image: url(img/ucsf-library-floorplan-legend-computer.gif);
}

.ucsf-library-floorplan-legend-elevator {
    background-image: url(img/ucsf-library-floorplan-legend-elevator.gif);
}

.ucsf-library-floorplan-legend-photocopy {
    background-image: url(img/ucsf-library-floorplan-legend-photocopy.gif);
}

.ucsf-library-floorplan-legend-reshelving {
    background-image: url(img/ucsf-library-floorplan-legend-reshelving.gif);
}

.ucsf-library-floorplan-legend-restroom {
    background-image: url(img/ucsf-library-floorplan-legend-restroom.gif);
}

.ucsf-library-floorplan-legend-stairs {
    background-image: url(img/ucsf-library-floorplan-legend-stairs.gif);
}
