/********************************************************
 * BUTTONS
 * 
 * fastLink JS library will erroneously track hovers so
 * let's just turn them off
 *******************************************************/
.menu li:hover {
    background-color: #fff;
}
/**
* This is needed to keep the rounded corners on the last child.
* No, I don't really understand why.
**/
.menu li a {
    background-color: initial;
}


/********************************************************
 * BUTTONS
 *******************************************************/
a.button,
div.button a {
    background: -webkit-gradient(linear, left top, left bottom, from(#424243), to(#565759), color-stop(1, #fff));
    -webkit-background-origin: padding-box;
    -webkit-background-clip: padding-box;
}

a#button-top {
    background: -webkit-gradient(linear, left top, left bottom, from(#767676), to(#6e6e6e), color-stop(1, #fff));
    -webkit-background-origin: padding-box;
    -webkit-background-clip: padding-box;
}

a#button-top:hover,
a#button-top:active,
a#button-top:focus{
    background: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#666666), color-stop(1, #fff));
}

.mwf_notmobile a.button:hover,
a.button:focus,
a.button:active,
.mwf_notmobile div.button a:hover,
div.button a:focus,
div.button a:active,
.mwf_notmobile a.button.button-light:hover,
a.button.button-light:focus,
a.button.button-light:active,
.mwf_notmobile div.button a.button-light:hover,
div.button a.button-light:focus,
div.button a.button-light:active{
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff), color-stop(1, #fff));
    -webkit-background-origin: padding-box;
    -webkit-background-clip: padding-box;
}

/********************************************************
 * HOME SCREEN
 *******************************************************/
@media screen and (max-width:320px) and (max-height:480px) {
    body.mwf_os_iphone_os .menu.front {background:url(img/ucsf-background.png) no-repeat;height:480px;margin:0;border-radius:0}
    body.mwf_os_iphone_os.front #header{display:none}
    /* width:99% because 100% makes second-level lightning-touch menus horizontally scroll */
    body.mwf_os_iphone_os div.menu.front[style~="display:block"] ~ #footer {padding:0; position:absolute; bottom:-100px; width:99%}
    body.mwf_os_iphone_os {width:320px; overflow-x:hidden}
}
@media screen and (width:480px) {
    body.mwf_os_iphone_os .menu.front {background:url(img/ucsf-background-landscape.png) no-repeat;height:320px;margin:0;border-radius:0}
    body.mwf_os_iphone_os.front #header{display:none}
    /* width:99% because 100% makes second-level lightning-touch menus horizontally scroll */
    body.mwf_os_iphone_os div.menu.front[style~="display:block"] ~ #footer {padding:0; position:absolute; margin-top:-50px; width:99%; height:50px}
}
@media screen and (max-width:639px) {
    .menu.front ol {
        width:560px
    }
}
@media screen and (max-width:559px) {
    .menu.front ol {
        width:480px
    }
}
@media screen and (max-width:479px) {
    .menu.front ol {
        width:400px
    }
}
@media screen and (max-width:399px) {
    .menu.front ol {
        width:320px
    }
}
/********************************************************   
 * TWO-COLUMN LIST STYLE
 *******************************************************/
ul.two-col-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.two-col-list li {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    overflow: hidden;
}

/*********************************************************
 * Sortable Options (used for Customize Home Screen)
 ********************************************************/
div#app_order.option.ui-sortable > div {
    background-color: #8BB;
}
.draggable-handle {
    margin: 3px 5px 2px 5px;
}

/********************************************************
 * LIBRARY FLOORPLAN LEGEND STYLES
 *******************************************************/
.ucsf-library-floorplan-legend {
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 25px;
}
.ucsf-library-floorplan-legend-computer {
    background-image: url(img/ucsf-library-floorplan-legend-computer.gif);
}

.ucsf-library-floorplan-legend-elevator {
    background-image: url(img/ucsf-library-floorplan-legend-elevator.gif);
}

.ucsf-library-floorplan-legend-photocopy {
    background-image: url(img/ucsf-library-floorplan-legend-photocopy.gif);
}

.ucsf-library-floorplan-legend-reshelving {
    background-image: url(img/ucsf-library-floorplan-legend-reshelving.gif);
}

.ucsf-library-floorplan-legend-restroom {
    background-image: url(img/ucsf-library-floorplan-legend-restroom.gif);
}

.ucsf-library-floorplan-legend-stairs {
    background-image: url(img/ucsf-library-floorplan-legend-stairs.gif);
}
