/* ucsf-default-touch
 *
 *
 *
*/

#header {
    border-bottom: 0px solid #fff;
}


/********************************************************
 * BUTTONS
 *******************************************************/

a#button-top {
    background-color: #808080;
}

a#button-top:hover,
a#button-top:active,
a#button-top:focus{
    background-color: #8d8580 !important;
}

a.button-full,
div.button-full a {
    background-color: #565759;
}

a.button-full:hover,
a.button-full:focus,
a.button-full:active,
div.button-full a:hover,
div.button-full a:focus,
div.button-full a:active,
a.button-full.button-light:hover,
a.button-full.button-light:focus,
a.button-full.button-light:active,
div.button-full a.button-light:hover,
div.button-full a.button-light:focus,
div.button-full a.button-light:active {
    background-color: white !important;
}


/********************************************************
 * LISTS
 *******************************************************/

body.front .menu.front li a {
    padding: 18px 15px 18px 60px;
}

.menu li a {
    padding: 1em;
}

.content ol li{
    margin: 0 0 0 26px;
}

body.front .menu.front #shuttle {
    background: #fff url(img/ucsf-icon-shuttle.png) -1px 0 no-repeat;
}

body.front .menu.front #library {
    background: #fff url(img/ucsf-icon-library.png) -1px 0 no-repeat;
}

body.front .menu.front #calendars {
    background: #fff url(img/ucsf-icon-calendars.png) -1px 0 no-repeat;
}

body.front .menu.front #news {
    background: #fff url(img/ucsf-icon-news.png) -1px 0 no-repeat;
}

body.front .menu.front #directory {
    background: #fff url(img/ucsf-icon-directory.png) -1px 0 no-repeat;
}

body.front .menu.front #fitness {
    background: #fff url(img/ucsf-icon-fitness.png) -1px 0 no-repeat;
}

body.front .menu.front #maps {
    background: #fff url(img/ucsf-icon-maps.png) -1px 0 no-repeat;
}

body.front .menu.front #social {
    background: #fff url(img/ucsf-icon-social.png) -1px 0 no-repeat;
}

body.front .menu.front #emergency {
    background: #fff url(img/ucsf-icon-emergency.png) -1px 0 no-repeat;
}


body.front .menu.front.menu-grid #shuttle {
    background: url(img/ucsf-icon-precomposed-shuttle.png) 12px 8px no-repeat;
}

body.front .menu.front.menu-grid #library {
    background: url(img/ucsf-icon-precomposed-library.png) 12px 8px no-repeat;
}

body.front .menu.front.menu-grid #calendars {
    background: url(img/ucsf-icon-precomposed-calendars.png) 12px 8px no-repeat;
}

body.front .menu.front.menu-grid #news {
    background: url(img/ucsf-icon-precomposed-news.png) 12px 8px no-repeat;
}

body.front .menu.front.menu-grid #directory {
    background: url(img/ucsf-icon-precomposed-directory.png) 12px 8px no-repeat;
}

body.front .menu.front.menu-grid #fitness {
    background: url(img/ucsf-icon-precomposed-fitness.png) 12px 8px no-repeat;
}

body.front .menu.front.menu-grid #maps {
    background: url(img/ucsf-icon-precomposed-maps.png) 12px 8px no-repeat;
}

body.front .menu.front.menu-grid #social {
    background: url(img/ucsf-icon-precomposed-social.png) 12px 8px no-repeat;
}

body.front .menu.front.menu-grid #emergency {
    background: url(img/ucsf-icon-precomposed-emergency.png) 12px 8px no-repeat;
}

.menu.padded.menu-grid {
    border:0
}

body.front .menu.front.menu-grid ol{margin:auto!important;overflow:hidden;text-align:left}
body.front .menu.front.menu-grid li{border-top:0;display:inline-block;height:108px;list-style:none;padding:0;width:80px;border:0}
body.front .menu.front.menu-grid li a{background:0;color:#fff;font-size:75%;font-weight:normal;margin:0;padding:68px 4px 4px 4px;text-align:center}
@media screen and (max-width:320px) and (max-height:480px) {
    body.front .menu-grid {background:url(img/ucsf-background.png) no-repeat;height:480px;margin:0;border-radius:0}
    body.front .menu-grid ~ #footer {display:none}
}
@media screen and (width:480px) {
    body.front .menu-grid {background:url(img/ucsf-background-landscape.png) no-repeat;height:320px;margin:0;border-radius:0}
    body.front .menu-grid ~ #footer {display:none}
}
