/* ucsf-default-touch
 *
 *
 *
*/

#header {
    border-bottom: 0px solid #fff;
}


/********************************************************
 * BUTTONS
 *******************************************************/

a#button-top {
    background-color: #808080;
}

a#button-top:hover,
a#button-top:active,
a#button-top:focus{
    background-color: #8d8580 !important;
}

a.button-full,
div.button-full a {
    background-color: #565759;
}

a.button-full:hover,
a.button-full:focus,
a.button-full:active,
div.button-full a:hover,
div.button-full a:focus,
div.button-full a:active,
a.button-full.button-light:hover,
a.button-full.button-light:focus,
a.button-full.button-light:active,
div.button-full a.button-light:hover,
div.button-full a.button-light:focus,
div.button-full a.button-light:active {
    background-color: white !important;
}


/********************************************************
 * LISTS
 *******************************************************/

.front-page .menu-front li a {
    padding: 18px 15px 18px 60px;
}

.menu-full li a {
    padding: 1em;
}

.content-padded ol li{
    margin: 0 0 0 26px;
}

.front-page .menu-padded #shuttle {
    background: #fff url(img/ucsf-icon-shuttle.png) -1px 0 no-repeat;
}

.front-page .menu-padded #library {
    background: #fff url(img/ucsf-icon-library.png) -1px 0 no-repeat;
}

.front-page .menu-padded #calendars {
    background: #fff url(img/ucsf-icon-calendars.png) -1px 0 no-repeat;
}

.front-page .menu-padded #news {
    background: #fff url(img/ucsf-icon-news.png) -1px 0 no-repeat;
}

.front-page .menu-padded #directory {
    background: #fff url(img/ucsf-icon-directory.png) -1px 0 no-repeat;
}

.front-page .menu-padded #fitness {
    background: #fff url(img/ucsf-icon-fitness.png) -1px 0 no-repeat;
}

.front-page .menu-padded #maps {
    background: #fff url(img/ucsf-icon-maps.png) -1px 0 no-repeat;
}

.front-page .menu-padded #emergency {
    background: #fff url(img/ucsf-icon-emergency.png) -1px 0 no-repeat;
}


.front-page .menu-grid #shuttle {
    background: url(img/ucsf-icon-precomposed-shuttle.png) 12px 2px no-repeat;
}

.front-page .menu-grid #library {
    background: url(img/ucsf-icon-precomposed-library.png) 12px 2px no-repeat;
}

.front-page .menu-grid #calendars {
    background: url(img/ucsf-icon-precomposed-calendars.png) 12px 2px no-repeat;
}

.front-page .menu-grid #news {
    background: url(img/ucsf-icon-precomposed-news.png) 12px 2px no-repeat;
}

.front-page .menu-grid #directory {
    background: url(img/ucsf-icon-precomposed-directory.png) 12px 2px no-repeat;
}

.front-page .menu-grid #fitness {
    background: url(img/ucsf-icon-precomposed-fitness.png) 12px 2px no-repeat;
}

.front-page .menu-grid #maps {
    background: url(img/ucsf-icon-precomposed-maps.png) 12px 2px no-repeat;
}

.front-page .menu-grid #emergency {
    background: url(img/ucsf-icon-precomposed-emergency.png) 12px 2px no-repeat;
}

.front-page .menu-grid ol{margin:auto!important;overflow:hidden;text-align:left}
.front-page .menu-grid li{border-top:0;display:inline-block;height:108px;list-style:none;padding:0;width:80px;border:0}
.front-page .menu-grid li a{background:0;color:#fff;font-size:75%;font-weight:normal;margin:0;padding:68px 4px 4px 4px;text-align:center}
.front-page .menu-grid {background:url(img/ucsf-background.png) no-repeat}