<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbackURL</key>
	<dict>
		<key>x-edu-ucsf-trivia://</key>
		<string>http://itunes.apple.com/us/app/ucsf-trivia/id522796115?mt=8</string>
		<key>mnucsfsig://</key>
		<string>http://itunes.apple.com/us/app/ucsf-insider/id532353891?mt=8</string>
		<key>epicmychart://orgselect/orgID=166</key>
		<string>http://itunes.apple.com/us/app/mychart/id382952264</string>
	</dict>
</dict>
</plist>
