AddDefaultCharset UTF-8
AddType text/cache-manifest .appcache
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css

<Files *.appcache>
    ExpiresActive On
    ExpiresDefault "access plus 0 seconds"
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^public(.*)$ /ci/public$1 [L]
    RewriteCond %{REQUEST_URI} !/shuttle/index.php
    RewriteRule ^shuttle/(.+)$ /ci/shuttle/$1 [L]
    RewriteRule ^directory(.*)$ /ci/directory$1 [L]
    RewriteCond %{REQUEST_URI} !/fitness/index.php
    RewriteRule ^fitness/(.+)$ /ci/fitness/$1 [L]
    RewriteRule ^social/?$ /social.php [L]
    RewriteRule ^emergency/?$ /emergency.php [L]
    RewriteRule ^about/?$ /about.php [L]
# For Blackboard Mobile Central links
    RewriteCond %{QUERY_STRING} ^s=shuttle$
    RewriteRule .* /android.php? [R=permanent,L]
    RewriteRule ^library/options$ /android.php [R=permanent,L]
# Responsive Images 
# Mobile-First images that scale responsively and responsibly
# Copyright 2010, Scott Jehl, Filament Group, Inc 
# Dual licensed under the MIT or GPL Version 2 licenses. 
# //Start Responsive Images 
# direct image requests to temp
RewriteCond %{QUERY_STRING} full=(.*)&?
RewriteRule (.*)rwd-router/.*\.(jpe?g|png|gif|webp) $1%1 [L]
# ignore trap for non-image requests, rewrite URL without trap segment
RewriteRule (.*)rwd-router/(.*)$ $1$2
# //End Responsive Images
</IfModule>
