AddDefaultCharset UTF-8
AddType text/cache-manifest .appcache
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^public(.*)$ /ci/public$1 [L]
    RewriteCond %{REQUEST_URI} !/shuttle/index.php
    RewriteRule ^shuttle/(.+)$ /ci/shuttle/$1 [L]
    RewriteRule ^events /news/?feed=ucsfevents [R,L]
    RewriteRule ^news/library /news/?feed=library [L]
    RewriteRule ^directory(.*)$ /ci/directory$1 [L]
    RewriteRule ^fitness(.*)$ /ci/fitness$1 [L]
# For Blackboard Mobile Central links
    RewriteCond %{QUERY_STRING} ^s=shuttle$
    RewriteRule .* /shuttle? [R=permanent,L]
    RewriteRule ^library/options$ /library [R=permanent,L]
</IfModule>
