AddDefaultCharset UTF-8
AddType text/cache-manifest .appcache
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css

<Files *.appcache>
    ExpiresActive On
    ExpiresDefault "access plus 0 seconds"
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^public(.*)$ /ci/public$1 [L]
    RewriteCond %{REQUEST_URI} !/shuttle/index.php
    RewriteRule ^shuttle/(.+)$ /ci/shuttle/$1 [L]
    RewriteRule ^events /news/?feed=ucsfevents [R,L]
    RewriteRule ^news/library /news/?feed=library [L]
    RewriteRule ^directory(.*)$ /ci/directory$1 [L]
    RewriteCond %{REQUEST_URI} !/fitness/index.php
    RewriteRule ^fitness/(.+)$ /ci/fitness/$1 [L]
    RewriteRule ^calendars/?$ /calendars.php [L]
    RewriteRule ^social/?$ /social.php [L]
    RewriteRule ^emergency/?$ /emergency.php [L]
    RewriteRule ^about/?$ /about.php [L]
    RewriteRule ^feedback/?$ /feedback.php [L]
# For Blackboard Mobile Central links
    RewriteCond %{QUERY_STRING} ^s=shuttle$
    RewriteRule .* /android.php? [R=permanent,L]
    RewriteRule ^library/options$ /android.php [R=permanent,L]
</IfModule>
